{{>navBar}}
<div class="product-detail">
    <div class="product-img-title">
        <div class="img-detail">
            <img src="{{this.thumbnail}}" class="" alt="...">
        </div>
        <div class="title-detail">
            <h5 class="">{{this.title}}</h5>
        </div>
    </div>
    <div class="">
        <p class="">{{this.description}}</p>
        <p class="">Precio</p>
        <p class="">U$D:{{this.price}}</p>
    </div>
</div>